<sb-wrapper>
  <sb-sidebar>
    <sb-sidebar-brand>
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </sb-sidebar-brand>
  </sb-sidebar>
  <sb-content>
    <sb-topbar></sb-topbar>
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
    <sb-footer>
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2019</span>
      </div>
    </sb-footer>
  </sb-content>
</sb-wrapper>
